.formWrapper {
  padding: 0 0 20px 0;

  form {
    display: flex;
    flex-direction: column;
  }
}

input[type=submit] {
  background-color: #388e3c;
  font-size: 16px;
  color: #fff;
  height: 30px;
  border: none;
  margin: auto 0 auto auto;
  cursor: pointer;
}